In [1]:
#Lists
#Strings are sequences of characters and are immutable, lists are sequences of any type and are mutable

In [4]:
#Create a list of numbers
numbers = [5,7,2,4,3]
numbers[0]

5

In [5]:
#Since lists are mutable we can change them afer creation eg
numbers.append(1)

In [6]:
numbers

[5, 7, 2, 4, 3, 1]

In [7]:
#NB: -0 = 0
numbers[-0]

5

In [8]:
numbers[-1]

1

In [9]:
#Concatenation in python works if they are of the same type
newlist = [22,55,66,77]
numbers + newlist

[5, 7, 2, 4, 3, 1, 22, 55, 66, 77]

In [10]:
type(numbers)

list

In [11]:
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
numbers.reverse()

In [13]:
numbers

[1, 3, 4, 2, 7, 5]

In [14]:
numbers.sort()

In [15]:
numbers

[1, 2, 3, 4, 5, 7]

In [16]:
names = ["Egbuna", "Oluebube", "Princess", "Lois"]

In [17]:
names.sort()

In [18]:
names

['Egbuna', 'Lois', 'Oluebube', 'Princess']

In [19]:
names.reverse()

In [20]:
names

['Princess', 'Oluebube', 'Lois', 'Egbuna']

In [21]:
#Sorted creates a new list while sort affects the original list
sorted_names = sorted(names)

In [22]:
sorted_names

['Egbuna', 'Lois', 'Oluebube', 'Princess']

In [23]:
names

['Princess', 'Oluebube', 'Lois', 'Egbuna']

In [24]:
len(names)

4

In [25]:
#TUPLE OPERATIONS. Tuples are immutable. They are a type of sequence
tuple1 = (1,3,5,7,9)
type(tuple1)

tuple

In [26]:
dir(tuple1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
len(tuple1)

5

In [29]:
tuple1[3]

7

In [30]:
tuple1 + (33,66,44)

(1, 3, 5, 7, 9, 33, 66, 44)

In [31]:
#Tuple packing

In [32]:
longitude = 3425612
latitude = 9873456

location = (longitude, latitude)

In [33]:
type(location)

tuple

In [34]:
#Tuple unpacking
(l1, l2) = location

In [35]:
l1

3425612

In [36]:
l2

9873456

In [38]:
#Tuples can also be unpacked in a for loop. Create new variables and go through the list upacking each tuple and printing it
multiple_tuples = [(0,0),(1,2),(3,4),(4,5),(22,33)]
for (x,y) in multiple_tuples:
    print(x,y)

0 0
1 2
3 4
4 5
22 33

In [39]:
#When a tuple has onlyone element, python sees it as an integer. So to construct a tuple with only one object it has 
#a different syntax

In [40]:
c = (1)
type(c)

int

In [41]:
c = (1,)
type(c)

tuple

In [48]:
tuple1

(1, 3, 5, 7, 9)

In [51]:
help(tuple1.sum)

AttributeError: 'tuple' object has no attribute 'sum'

In [49]:
tuple1.count(9)

1

In [53]:
sum(tuple1)

25